.geolive_window_menu .Item_Privacy .Item_Privacy_Item {
    display: block;
    background: white;
    margin: 0 5px 5px 0;
    padding: 6px;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

.geolive_window_menu .Item_Privacy li.Item_Title{
    display: none;
}

.geolive_window_menu .Item_Privacy {
    right: -32px;
    padding: 0;
    border: none;
    background-color: transparent;
    top: 12px;
}

.geolive_window_menu .Item_Privacy .btn-label {
    display: none;
}

.geolive_window_menu .Item_Privacy .Item_Privacy_Item.active {
    background-color: rgb(0,160,80);
}


li.Item_Privacy_Item.t-btn:after {
	content: "";
	width: 18px;
	height: 18px;
	display: block;
	background-image: url('https://bcwf.geolive.ca/administrator/components/com_geolive/assets/Map%20Item%20Icons/sm_visible.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}


li.Item_Privacy_Item.t-btn.privacy_special:after {
    background-image: url('https://bcwf.geolive.ca/administrator/components/com_geolive/assets/Map%20Item%20Icons/sm_visible.png?tint=rgb(255,0,0)');
}

li.Item_Privacy_Item.t-btn.privacy_registered:after {
    background-image: url('https://bcwf.geolive.ca/administrator/components/com_geolive/assets/Map%20Item%20Icons/sm_visible.png?tint=rgb(0, 136, 204)');
}